### Mini Description

Techniques that help prove a system was implemented correctly given a formal specification

### Description

Verification is a class of techniques that help prove a system satisfies particular properties its designers desire. They provide high-confidence assurances that a system will satisfy some set of formal constraints, helping to answer whether the system was built correctly *given its specification.* ([Russell et al. 2015](http://futureoflife.org/data/documents/research_priorities.pdf)) When possible, it is advisable for systems in safety-critical situations, such as medical devices or weapons, to be verifiable. Verification of AI systems poses additional challenges on top of those in verifying more traditional software, but It should be possible in many cases to verify the designs of AI systems. If such systems become increasingly powerful and safety-critical, verifiable safety properties will become increasingly valuable and worthwhile.

### Related Nodes

- [Theory of Counterfactuals](/Value_Alignment/Foundations/Foundations_of_Rational_Agency/Theory_of_Counterfactuals/Theory_of_Counterfactuals.md)
- [ML with Contracts](/Value_Alignment/Validation/Increasing_Contextual_Awareness/Uncertainty_Identification_and_Management/Inductive_Ambiguity_Identification/Robustness_to_Distributional_Shift/ML_with_Contracts/ML_with_Contracts.md)
	- Reason: From Verification also see ML with Contracts because when whole AI systems and agents are designed by contract, piecewise verification becomes more tractable.
- [Monitoring](/Value_Alignment/Control/Oversight/Monitoring/Monitoring.md)
	- Reason: From Verification also see Monitoring because when causal flows are more explicit, verifiable AI systems will also lend themselves to better interpretability and transparency.
- [Decision Theory](/Value_Alignment/Foundations/Consistent_Decision_Making/Decision_Theory/Decision_Theory.md)
	- Reason: From Verification also see Decision Theory as the definition of correct or optimal behavior, among the good levels to verify, is made more explicit by it.
